<div *ngIf="dataChannels">
   
        <div class="ch-count pb-3">{{total}} каналов</div>
        <div class="row channelsContainer">
            <div *ngFor="let ch of channels" class="channel" [style.backgroundImage]="'url('+ ch.picture.backgrounds +')'">
            </div>
        </div>
        <div class="text-center showMore mb-3" (click)="addChannels()">
            <img src="../../../assets/Vector.png" alt="">
            <div>Добавить еще</div>
        </div>
        
  

    
    
</div>
