/* You can add global styles to this file, and also import other style files */
// Your variable overrides
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$theme-colors: (
  "primary": #BA9D5A,
  "secondary": #02bceb
);
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";


body {
    background: url('./assets/bg.png') no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

